<app-other-pages-navbar></app-other-pages-navbar>
<div class="order-food-online-box-1">
    <div class="box-inspiration-your-first-order">
        <div class="inspiration-your-first-order-heading">
            <label>Inspiration Your First Order Data</label>
        </div>
        <div class="inspiration-your-first-order">


            <div (click)="searchProduct(item.name)" *ngFor="let item of Inspiration_Your_First_Order_Data">
                <img src={{item.source}}>
                <label>{{item.name}}</label>
            </div>
        </div>
    </div>
    <!-- product search page -->

    <div class="psp-main">
        <div class="psp-main-page">
            <ng-container *ngIf="SearchProductData.length!=0">
                <mat-card *ngFor="let item of SearchProductData" class="psp-product-page">
                    <div class="psp-pp-image">
                        <img src={{item.product_image}}>
                    </div>
                    <div class="psp-pp-detail-box">
                        <div class="psp-pp-name">
                            <h4>{{item.product_name}}</h4>
                        </div>
                        <div class="psp-pp-des">
                            <h4>{{item.product_description}}</h4>
                        </div>
                        <div class="psp-pp-res-name">
                            <h4>Restaurant Name: <span>{{item.restaurant.restaurant_name}}</span></h4>
                        </div>
                        <div class="psp-pp-quantity">
                            <h4>Quantity: <span>1</span></h4>
                        </div>
                       
                    </div>
                    <div class="psp-pp-price-box">
                        <div class="psp-pp-price">
                            <h4>Price: <span>₹ {{item.product_price}}</span></h4>
                        </div>
                        
                        <div class="psp-add-button">
                            <button class="btn btn-outline-success">Add To Cart</button>
                        </div>
    
                        <div class="psp-add-button">
                            <button (click)="openDialog()" class="btn btn-outline-danger">Restaurant Detail</button>
                        </div>
    
                    </div>
                </mat-card>
            </ng-container>
            <ng-container *ngIf="SearchProductData.length==0 && isSearchProduct==true">
                <mat-card>
                    <div class="no-product-found">
                        <h5>!!!&nbsp;Oops,No Product Found</h5>
                    </div>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>
