<div class="main-cp-page">
    <div class="cp-image">
        <span><mat-icon>key</mat-icon></span>
    </div>
    <div class="cp-heading">
        <h1>Set new password</h1>
        <h3>Your new password must be different to</h3>
        <h3>previously used password</h3>
    </div>
    <div class="cp-body">
        <form [formGroup]="PasswordForm">
            <div class="mmd-details input1">
                <label>Password</label>
                <mat-form-field appearance="outline">
                    <input placeholder="Password" formControlName="password"  matInput>
                    <mat-hint style="color: black;">Must be at least 8 Character</mat-hint>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="mmd-details input1">
                <label>Confirm Password</label>
                <mat-form-field appearance="outline">
                    <input placeholder="Confirm Password" formControlName="confirmPassword"  matInput>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="mmd-details button">
                <button (click)="changePassword()" class="btn btn-success"> Update Password</button>
            </div>

        </form>
    </div>
</div>