.main-cp-page{
    width: 100%;
    min-height: 100%;
}
.cp-image{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    
}

.cp-image span mat-icon{
    font-size: 50px;
    transform: rotate(-40deg);
    /* background-color: red; */
    /* width: 70%; */
}
.cp-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cp-body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cp-body form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mmd-details{
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mmd-details label{
    font-size: 20px;
}
.mmd-details mat-form-field{
    width: 60%;
}
.input1{
    margin-top: 2em;
}
.mmd-details mat-form-field input{
    font-size: 20px;
    
}
.mmd-details mat-form-field input:disabled{
    color: black;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.button button{
    width: 60%;
}