<div class="footer-page">
    <div class="footer-page-1">
        <div class="page2">
            <div class="page2-1">
                <div class="page-sub">
                    <label class="footer-sub-heading">About Food For You</label>
                    <h4>Who We Are</h4>
                    <h4>Blog</h4>
                    <h4>Work with Us</h4>
                    <h4>Investor Relations</h4>
                    <h4>Contact Us</h4>
                </div>
                <div class="page-sub">
                    <div class="page-sub1">
                        <label class="footer-sub-heading">For Restaurant</label>
                        <h4>Partner with us</h4>
                        <h4>Apps For You</h4>
                    </div>
                    <br>
                    <div class="page-sub2">
                        <label class="footer-sub-heading">For Enterprises</label>
                        <h4>For Work</h4>
                    </div>
                </div>
            </div>
            <div class="page2-2">
                <div class="page-sub">
                    <label class="footer-sub-heading">Learn More</label>
                    <h4>Privacy</h4>
                    <h4>Security</h4>
                    <h4>Terms</h4>
                </div>
                <div class="page-sub">
                    <label class="footer-sub-heading">Social Links</label>
                </div>
            </div>
        </div>
        <div class="page3">
            <label>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2022 © FoodForYou™ Ltd. All rights reserved.</label>
        </div>
    </div>
</div>